





<footer id="footer"> 
    <div class="animation">
    <ul>
        <li class="icons"><a href="http://instagram.com/sweetcincakes"><i class="fab fa-instagram"></i></a></li>

        <li class="icons"><i class="fab fa-twitter"></i></li>

        <li class="icons"><i class="fab fa-facebook"></i></li>
    </ul>
</div>
</footer>



</body>
</html>