
* body {
  background-color: ##F6F6F6;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}



.child-one {
  width: 20%;
  margin-left: 20%;
  padding-top: 200px;
}

  
.child-two {
  width: 20%;
  padding-top: 60px;
  display: flex;
  margin-left: 10%;
  position: relative;

}

@media (min-width: 768px) {
  .parent {
    display: flex;
  }
}

h1 {
  color:#474747;
}
.header {
  padding: 30px 45px 30px 45px;
  background-color: #F6F6F6;
  color: #c0c0c0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.nav a {
  text-decoration: none;
  color: #979797 ;
}


.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.nav li {
  margin-left: 20px;
  display: flex;
}

#orderbtn {
  background-color:#78A599;
  text-decoration: none;
  color: white;
  width: 70px;
  padding: 15px;
  border-radius: 20px;
  align-content: center;
  transition: 0.2s ease-in-out;

}

/* form */

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
  }

  .button {
    width: 40%;
    height: 50px;
    margin: auto;
    padding: 10px;
    align-content: center;
    transition: 0.2s ease-in-out;

  }

  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--bright-green);
    box-shadow: 2px 2px var(--light-orange);
  }

  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    background: #78A599;
    color: #c0c0c0;
    bottom: 0;
    width: 100%;
    height: 9rem;            /* Footer height */
  }

  .icons {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: #F6F6F6;
    font-size: 18px;
    margin: 10px 30px;
    padding: 20px 20px;
    border: 1px solid;
    border-radius: 70%;
    transition: .5s;
  }

  .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%)

  }

  li.icons:hover {
    color: #474747;
    border: 1px solid #474747;
    transition: .5s;
  }


a {
color: #F6F6F6;  
}

a:hover {
  color: #474747;  
  }




  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    margin-right: 50px;

    transition: 0.5s ease;

  }

  .card-image {
    grid-area: image;
    background: url("https://i.imgur.com/XYrP33v.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size:cover;
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

  .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  }
