


.container {
    width: 50vw;
    height: auto;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
  }


  
  

  .button {
    width: 40%;
    height: 50px;
    margin: auto;
    padding: 10px;
    align-content: center;
    transition: 0.2s ease-in-out;

  }

  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--bright-green);
    box-shadow: 2px 2px var(--light-orange);
  }