<%- include('partials/header') %>




<section class='parent'>

    <section class="child-one">
        <h1>Welcome to Sweet Cin Cakes!</h1><br>
        <p>Sweet Cin is a home-bakery with delicious and beautiful cakes and cupcakes made by Cindy K. Cindy is a self-taught baker who started teaching herself how to bake and decorate cakes in the summer of 2019. Now she sells custom cakes and cupcakes for everyone to enjoy!</p>
        <br>
        <a href="/orders" id="orderbtn">Place an order</a>
    </section>
    
    <section class="child-two">
                <img src="https://i.imgur.com/xV62nHK.jpg" class="cupcake" width="600px" height="650px">
    </section>

</section>











<%- include('partials/footer') %>
