<%- include('partials/header') %>


<a href='orders'>ORDER HERE now</a>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium, quos perspiciatis sint inventore sit fugiat repudiandae voluptatem repellendus, amet facilis quia necessitatibus odio eaque laborum reiciendis ut obcaecati tempore?</p>

<%- include('partials/footer') %>
