<%- include('../partials/header') %>



<span class="menu">
<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <h2>Unicorn</h2>
        <p>Pink and purple decorated with macarons, meringues, and happy birthday gold acrylic circle topper.</p>
        <span class="date"></span>
    </div>
</div>

    <div class="card">
        <div class="card-image-two"></div>
        <div class="card-text">
            <h2>Dark Knight</h2>
            <p>black and gray decorated with loaded candy toppings and caramel popcorn.</p>
            <span class="date"></span>
        </div>
    </div>


    <div class="card">
        <div class="card-image-three"></div>
        <div class="card-text">
            <h2>Angel</h2>
            <p>White and gold geode cake topped with flowers.</p>
            <span class="date"></span>
        </div>
    </div>

  
</span>





<%- include('../partials/footer') %>
