<%- include('../partials/header') %>



<span class="menu">
<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <h2>cake style</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo laborum fuga quibusdam!</p>
        <span class="date"></span>
    </div>
</div>
</section>

<span class="menu-two"> 
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>cake style</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo laborum fuga quibusdam!</p>
            <span class="date"></span>
        </div>
    </div>
</span>

<span class="menu-two"> 
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>cake style</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo laborum fuga quibusdam!</p>
            <span class="date"></span>
        </div>
    </div>
</span>

<span class="menu-two"> 
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>cake style</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo laborum fuga quibusdam!</p>
            <span class="date"></span>
        </div>
    </div>
</span>



<span class="menu-two"> 
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <h2>cake style</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo laborum fuga quibusdam!</p>
            <span class="date"></span>
        </div>
    </div>
</span>


<%- include('../partials/footer') %>
