<%- include('../partials/header') %>


<div class="container">
  <h1>Place an Order</h1>


  <form action='/orders/confirm' method='POST' id='new-form'>

  <label>Name:</label>
  <input type="text" name="name">

  <label>Style:</label>
  <input type="text" name="style">

  <label>Servings:</label>
  <input type="text" name="servings">

  <label>Flavor:</label>
  <input type="text" name="flavor">

  <label>Date:</label>
  <input type="date" name="date">
    

  <input type="submit" class="button" value="Submit">


</div>
</form>


<%- include('../partials/footer') %>


